.add-wrap {
    text-align: center;
    margin-bottom: 20px;
}


.input {
    margin-right: 20px;
}

.del-elem {
    cursor: pointer;
    padding: 5px 10px;
    background-color: blue;
    color: white;
}

.todo {
    max-width: 800px;
    margin: 50px auto;
    border: 1px solid lightgray;
    padding: 20px;
}

.todo-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.title {
    text-align: center;
}